@charset "UTF-8";

/*
             Device Breakpoint
-----------------------------------------------
    Muito pequeno: 320px (smartphones pequenos)
    Pequeno: 480px (smartphones em modo paisagem)
    Médio: 768px (tablets)
    Grande: 992px (notebooks e desktops menores)
    Muito grande: 1200px (desktops)
    Extra grande: 1440px (monitores de alta resolução)
*/

/*
    Colors:
        mainColors: #082E1F, #175c35, #061F1B;
        details: #ffffff (white), #000000 (black);  
*/

:root {
  --mainColor1: #082e1f;
  --mainColor2: #175c35;
  --mainColor3: #061f1b;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  /*CELULARES*/

  section#login {
    width: 300px;
  }

  section#login > div#formulario {
    font-size: 1em;
  }

  section#login > div#formulario > h1 {
    font-size: 1.7em;
    text-align: center;
  }

  form > div > input#submitButton {
    font-size: 20px;
  }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
  /*TABLETS*/

  body {
    background-image: linear-gradient(
      to bottom,
      var(--mainColor2),
      var(--mainColor1)
    );
  }

  section#login {
    width: 80vw;
    height: 330px;
  }

  section#login > div#imagem {
    float: left;
    width: 30%;
    height: 100%;
  }

  section#login > div#formulario {
    float: right;
    width: 70%;
  }

  div.campo > span {
    width: 45px;
    background-color: none;
    transform: translateY(-4px);
  }

  div.campo > input {
    width: calc(100% - 51px);
    padding-left: 4px;
    text-align: left;
    height: 101%;
    transform: translateY(-16.8px);
  }

  form > div > a#forgotpassword{
    height: 29px;
    font-size: 18px;
  }

  form > div > a#forgotpassword > p{
    margin-top: -3px;
  }

}

@media screen and (min-width: 992px) {
  /*NOTEBOOK, DESKTOP E SUPERIORES*/

  body {
    background-image: linear-gradient(
      to bottom,
      var(--mainColor2),
      var(--mainColor1)
    );
  }

  section#login {
    width: 920px;
  }

  section#login > div#imagem {
    float: left;
    width: 50%;
    height: 100%;
  }

  section#login > div#formulario {
    float: right;
    width: 50%;
  }

  form > div > a#forgotpassword {
    height: 29px;
} 

  form > div > a#forgotpassword > p {
      margin-top: -3px;
      font-size: 0.9em;
  } 
}
